*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(113, 181, 249);
}

button {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.calculator {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: rgba(176, 6, 134, 0.742);
    max-width: 350px;
    margin: 2rem auto;
    border-radius: 5px;
    padding: 1rem;
}

.screen-display {
    background-color: rgb(219, 219, 219);
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    border-radius: 5px;
    padding-inline: 1rem;
}

.screen-display .previous-value {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: flex-end;
}

.screen-display .operator {
    font-weight: bold;
    font-size: 1.3rem;
    align-self: flex-end;
}

.screen-display .current-value {
    font-size: 1.5rem;
    font-weight: bold;
    overflow-x: auto;
}

.clear-controls {
    display: flex;
    column-gap: 1rem;
}

.clear-controls .all-clear {
    background-color: rgb(233, 64, 64);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    flex: 1;
}

.clear-controls .all-clear:hover {
    background-color: rgb(226, 78, 78);
}

.clear-controls .clear-entry {
    padding: 1rem;
    font-weight: bold;
    background-color: rgb(196, 128, 2);
    font-size: 1.2rem;
    color: #fff;
    flex: 1;
}

.clear-controls .clear-entry:hover {
    background-color: rgb(234, 173, 60);
}

.number-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.number-keys button {
    background-color: rgb(238, 180, 238);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.number-keys button:hover {
    background-color: rgb(223, 223, 223);
}

.operators {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

.operators button {
    flex: 1;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(27, 238, 125);
}

.operators button:hover {
    background-color: rgb(94, 248, 166);
}

.equals {
    display: flex;
}

.equals .equal-sign {
    flex: 1;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(10, 52, 135);
    color: #fff;
}

.equals .equal-sign:hover {
    background-color: rgb(23, 63, 141);
}